<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135915471-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-135915471-1');
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{site.description}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:image" content="/assets/images/coderit/coderit_logo.png" />
  <meta property="og:url" content="http:coderit.org" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://coderit.org" />
  <meta name="twitter:title" content="codeRIT" />
  <meta name="twitter:description" content="{{site.description}}" />
  <title>codeRIT</title>
  <link rel="icon" type="image/png" href="/assets/images/icon.png" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/css/main.css" type="text/css" rel="stylesheet" />
</head>
