<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{site.description}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:image" content="/assets/images/coderit_logo2.png" />
  <meta property="og:url" content="http:coderit.org" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://coderit.org" />
  <meta name="twitter:title" content="codeRIT" />
  <meta name="twitter:description" content="{{site.description}}" />
  <title>ClayHack</title>
  <link rel="icon" type="image/png" href="/assets/images/icon.png" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="/assets/css/main.css" type="text/css" rel="stylesheet" />
</head>
