/* Main.sass */
body {
  background: #ecf0f1;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }
  h1.subtitle, h2.subtitle, h3.subtitle {
    color: #ecf0f1; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em;
  margin-top: 0px; }

img {
  max-width: 100%;
  width: auto; }

a {
  color: #ce5f15;
  text-decoration: none; }
  a:hover {
    color: #f36321; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 8px; }

.banner {
  background: #384859;
  box-sizing: border-box;
  color: #ecf0f1;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  width: 100%; }
  .banner .inner {
    left: 0;
    right: 0; }
  .banner h1 {
    color: #f98728; }
  .banner.welcome {
    background: url("coderit_background.png") center center fixed;
    padding: 60px 0 80px;
    text-align: center; }

.divider {
  background: #242f3a;
  height: 25px;
  margin: 0; }

.button {
  background: #485c72;
  border: 2px solid #283440;
  color: #ecf0f1;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none; }
  .button:hover {
    background: #50667f;
    color: #ecf0f1; }
  .button.large {
    font-size: 1.25em; }

.text-large {
  font-size: 2em; }

.underline {
  text-decoration: underline; }

.grid-cta .col {
  box-sizing: border-box;
  float: left;
  padding-right: 35px; }
.grid-cta.two .col {
  width: 50%; }
.grid-cta.three .col {
  width: 33.3333%; }
.grid-cta:after {
  content: "";
  display: table;
  clear: both; }

.center {
  text-align: center; }

#mission {
  color: #444444;
  padding: 25px 0; }

#brickhack {
  background: url("coderit_background.png") center center fixed;
  text-align: center;
  padding: 20px; }
  #brickhack h1 {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0; }
  #brickhack h3 {
    font-size: 1.545em; }

#contact {
  background: #d5dde0;
  padding: 20px 0; }
  #contact .fa {
    margin-right: 10px;
    vertical-align: middle; }
    #contact .fa.fa-facebook-square {
      font-size: 2em; }
    #contact .fa.fa-envelope {
      vertical-align: top;
      font-size: 1.45em; }

@media screen and (max-width: 798px) {
  body {
    font-size: 14px; }

  .grid-cta .col {
    clear: both;
    float: none !important;
    margin-top: 8px;
    width: 100% !important; } }
