@charset "IBM437";
html {
  height: 100%; }

body {
  background: #f8f8f8;
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #f36e21; }
  a:hover, a:focus {
    color: #4a1d01; }
  a:focus {
    outline-color: #333333; }

h1, h2, h3 {
  font-weight: 300;
  margin: 0; }

.container, .container-fluid {
  max-width: 1170px; }

#main {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: -35px;
  padding-bottom: 40px; }

.navbar {
  background: #f36e21;
  border: 0;
  border-bottom: 1px solid;
  border-color: #d5560c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0;
  width: 100%; }
  .navbar .navbar-toggle .icon-bar {
    background: #fffeda; }
  .navbar .nav > li > a, .navbar .navbar-brand {
    color: #fffeda; }
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      background: #d5560c;
      color: #f8f8f8; }

.banner {
  background: #f8f8f8;
  background: url(white_texture.png);
  background-position: center center;
  background-size: 100% 100%;
  padding: 20px 80px; }
  .banner.dark {
    color: #f8f8f8; }
  .banner .banner-inner {
    border-left: 8px solid #888888;
    border-color: #f36e21;
    padding: 5px 20px 10px;
    margin: 65px;
    font-size: 1.714em; }
  .banner p {
    margin: 0;
    padding: 0;
    position: relative;
    quotes: "“" "”" "‘" "’";
    text-shadow: 0px 1px 1px rgba(17, 17, 17, 0.2); }
    .banner p:before {
      content: open-quote;
      position: absolute;
      right: 100%;
      color: #b3b3b3; }
    .banner p:after {
      content: close-quote;
      color: #b3b3b3; }

.ribbon {
  background: #dddddd;
  border-bottom: 2px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 10px 0 15px; }

.page-title {
  font-size: 3em;
  margin-top: 25px; }

.footer {
  background: #f8f8f8;
  padding: 5px 0; }
